*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url("../marmol.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
}
@import "_header";
@import "_main";
@import "_footer";
@media screen and (max-width: 700px){
    *{
        padding: 0;
        margin: 0;
    }
    body {
        background-image: url("../marmol.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 100%;
    }
    @import "_header";
    @import "_maps.scss";
    main{
        h2 {
            font-family: "Dancing Script", cursive;
            font-size: 30px;
            margin: 15px;
            padding: 4px;
            text-align: center;
        }
        img {
            width: 100%;
            height: 300px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        @import "_mixin.scss";
        h4{
            @include flex(center, 'Playfair Display' serif, 30px, 15px, 4px, bold); 
        }
        form{
            background-color: map-get($map: $bkcolor, $key: blanco );
            margin: auto;
            width: 100%;
            max-width: 400px;
            padding: 30px;
            border-radius: 10px;
            div{font-family: 'Playfair Display', serif;
                margin-top: 10px;
                padding: 5px;
                div{
                    margin: 15px;
                }
                div{
                    display: flex;
                    justify-content: right;
                    padding: 5px; 
                }
            }
            div{
                input{
                    &:hover{
                        background-color: map-get($map: $bkcolor, $key: rosa );
                    border-radius: 5px; 
                    }
                }
            }
        }
        .form2{
            background-color: map-get($map: $bkcolor, $key: blanco );
            margin: auto;
            width: 100%;
            max-width: 400px;
            padding: 30px;
            border-radius: 10px;
            div{font-family: 'Playfair Display', serif;
                margin-top: 10px;
                padding: 5px;
                div{
                    margin: 15px;
                }
                div{
                    display: flex;
                    justify-content: right;
                    padding: 5px; 
                }
            }
            div{
                input{
                    &:hover{
                        background-color: map-get($map: $bkcolor, $key: rosa );
                    border-radius: 5px; 
                    }
                }
            }
        }
    }      
    @import "_footer";
}
